/atlassian-ide-plugin.xml
/infrastructure/security/target
/infrastructure/monitoring/target
/infrastructure/edge/target
/infrastructure/discovery/target
/infrastructure/discovery/discovery-eureka-server.iml
/infrastructure/edge/edge-zuul-server.iml
/infrastructure/monitoring/monitoring-turbine-server.iml
/infrastructure/security/security-auth-server.iml
/api-services/product/api-product.iml
/core-services/product/core-product.iml
/core-services/product/target
/core-services/stock/core-stock.iml
/core-services/stock/target
/api-services/product/target
/parent.iml
/spring-cloud-netflix-oss-demo.iml
/spring-cloud-netflix-oss-demo.ipr
/spring-cloud-netflix-oss-demo.iws
